html {
	font-size:62.5%;
}

body
{
	background-color: #fafafa;
	color:#000;
    font-size:1.6rem;
	font-family:lane-narrow;
}

@font-face {
	font-family:dekiru;
	src:url(../fonts/dekiru.ttf);
}

@font-face{
	font-family:lane-narrow;
	src:url(../fonts/lane-narrow.ttf);
}

#title_logo{
	font-family:dekiru;
	font-size:3rem;
	margin-left:2rem;
    margin-top:3rem;
	color:#2e81fa;
}

#navbar > ul{
	margin-top:3rem;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu
{
    display: block;

}


.dropdown-menu > li > a {

color:black;

}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fafafa;
    background-color: #2e81fa;
}

.active {
	border-bottom: 0.2rem solid #000;
	height: 0;

}

.navbar-default:hover .navbar-nav:hover > .active:hover > a, .navbar-default:hover .navbar-nav:hover > .active:hover > a:focus, .navbar-default:hover .navbar-nav:hover > .active:hover > a:hover {
	background-color: #3FA3D7;
	color:#fff;
}

/* au hover on change la couleur de l'actif en bleu */

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background-color: #2e81fa;
    color: #fafafa;
	height:8.2rem;
}

/* couleur de l'actif par défaut */


.navbar-default .navbar-nav > li > a, .navbar-inverse .navbar-text {
	color: black;
}

/* couleur de la navbar par défaut */

.navbar-default:hover .navbar-nav:hover > li:hover > a, .navbar-inverse:hover .navbar-text:hover {
	color: #fafafa;
    background-color: #2e81fa;
}

/* couleur de la navbar au hover */

.navbar{
	background-color: white;
}

ul > li {
	font-size:1.8rem;

}

/* slider */


 .carousel-inner > .item > img {
	width: 100%;
	height:500px;
 }

 .carousel-inner {
 	height:500px;
 }

.discipline{
	width: 50%;
	cursor: pointer;
	margin:0 auto;
}


.article{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	height: 60px;
}

#news{
    padding-top:8rem;
    padding-bottom:8rem;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.footer a{
	color: white;
}

.btn-primary{
	background-color: #2e81fa;
}

/* RESULTATS */

.titre_page
{
	text-align: center;
	margin-bottom: 2rem;
}

form [title="selecteurs"]
{
    width: 75%;
}

.search_bar
{
	width: 100%;
	height: 50px;
	background-color: #e9eaee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: .01rem solid #5a5a5a;
    box-shadow: 0 1rem 1rem #5a5a5a;
}

.sport_detail {
	display: none;
}

.sport_slideshow{
    height:346px;
    overflow-y: hidden;
}
/* Incription et tarifs */
table {
	text-align: center;
}

th {
	text-align: center;
}

h2 {
	color:#5a5a5a;
}
h3 {
	color:#2e81fa;
}

.col1 {
	width: 150px;
}

.col2 {
	width: 190px;
}

.col3 {
	width: 190px;
}
.col4 {
	width: 190px;
}

strong {
	font-weight: bold;
}
p {
	margin-left: 2rem;
	padding-left: 1rem;
}

.inscr {
	border-style: solid;
	background-color: #E9EAEE;
	color: #5A5A5A;
	padding: 1rem;
}

.newsmid {
	width:100%;
	border:0.1rem solid #000;
	padding:0.5rem;
	margin-bottom: 1rem;
}

.newsmid p {
	display:none;
}

.newsmid:hover p {
	display:block;
}

.newsright > h2{
	position:relative;
	top:125px;
	margin:0;
	background-color: rgba(255, 255, 255, 0.5);
	float: left;	
}

.newsright {
	margin-top: -32px;
	padding:10px;
}

/* CALENDRIER */

#calendar
{
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 5rem;
}

#historique {
	padding-top:10rem;
}

#liseret{
	height:10px;
	background-color:black;
}

.btn {
	margin-top:0.5rem;
	font-size: 2rem;
}

/* RESPONSIVE */

/* APPARITION DU MENU HAMBURGER QUAND LA LARGEUR EST DE 1175 PX */
@media (max-width: 1175px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}

	.navbar-collapse.collapse.in {
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}
}

@media screen and (max-width:320px) {
	html{
		font-size:34%;
	}
}

@media screen and (min-width:321px) and (max-width:767px) {
	html{
		font-size:44%;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	html{
		font-size:50%;
	}
}
@media screen and (min-width:992px) and (max-width:1199px) {
	html{
		font-size:60%;
	}
}
@media screen and (min-width:1200px) {



}

.mentions_legales{
	text-align: center;
	margin-bottom: 20px;

.pad {
	padding-top:130px;
}

#select form {
	float:left;
	padding:10px;
}

#select {
	text-align: center;
}

.panelnews{
	margin-top:100px;
}