html {
	font-size:62.5%;
}

body
{
	background-color: #fafafa;
	color:#000;
    font-size:1.6rem;
	font-family:lane-narrow;
}

@font-face {
	font-family:dekiru;
	src:url(../fonts/dekiru.ttf);
}

@font-face{
	font-family:lane-narrow;
	src:url(../fonts/lane-narrow.ttf);
}

#logo_img{
	margin: 0.4rem;
}

#title_logo{
	font-family:dekiru;
	font-size: 3rem;
    margin-top: 4rem;
    margin-left: 1rem;
	color:#1177bb;
}

#navbar ul > li{
	margin-top:3rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu
{
    display: block;

}

.dropdown-menu > li > a {

color:black;

}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fafafa;
    background-color: #1177bb;
}

.navbar.navbar-default {
    border: none;
}

.navbar-default:hover .navbar-nav:hover > .active:hover > a, .navbar-default:hover .navbar-nav:hover > .active:hover > a:focus, .navbar-default:hover .navbar-nav:hover > .active:hover > a:hover {
	background-color: #1177bb;
	color:#fff;
}

/* au hover on change la couleur de l'actif en bleu */

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background-color: #0D5F95;
    color: #fafafa;
	height:9.2rem;
}

/* couleur de l'actif par défaut */


.navbar-default .navbar-nav > li > a, .navbar-inverse .navbar-text {
	color: black;
}

/* couleur de la navbar par défaut */

.navbar-default:hover .navbar-nav:hover > li:hover > a, .navbar-inverse:hover .navbar-text:hover {
	color: #fafafa;
    background-color: #0D5F95;
}

/* couleur de la navbar au hover */

.navbar{
	background-color: white;
	margin: 0;
}

ul > li {
	font-size:1.8rem;
}

/* slider */

.carousel-inner > .item > img {
	width: 100%;
	height:500px;
 }

 .carousel-inner {

 }

.discipline{
	width: 50%;
	cursor: pointer;
	margin:0 auto;
}

.article{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	height: 60px;
}

.news{
	padding:0;
	border:1px solid #fff;
	background-color: #fff;
}

.news img{
	width:100%;
	height:300px;;
}

.cap{
	border:1px solid #1177bb;
	text-align: center;
 background-color: rgba(112, 173, 214, 0.8);
}

.footer{
	bottom:0;
    width: 100%;
    height: 100px;
    background-color: black;
    text-align: center;
    color: white;
    display: block;
    justify-content: center;
    line-height: 100px
}

.footer a{
	color: white;
	margin: 0;
}

.footer p{
	color: white;
	margin: 0;
}

.btn-primary{
	background-color: #1177bb;
}

/* RESULTATS */

.titre_page
{
	text-align: center;
	margin: 3rem;
}

form [title="selecteurs"]
{
    width: 75%;
}

.search_bar
{
	width: 100%;
	height: 50px;
	background-color: #e9eaee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: .01rem solid #5a5a5a;
    box-shadow: 0 1rem 1rem #5a5a5a;
}

.results_frame{
	min-height: 380px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.modale_photo{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
}

/* FIN RESULTATS */

.sport_detail {
	display: none;
}

.sport_slideshow{
    height:346px;
    overflow-y: hidden;
}
/* Incription et tarifs */
table {
	text-align: center;
}

th {
	text-align: center;
}

h2 {
	color:#5a5a5a;
}
h3 {
	color:#1177bb;
}

.col1 {
	width: 150px;
}

.col2 {
	width: 190px;
}

.col3 {
	width: 190px;
}
.col4 {
	width: 190px;
}

strong {
	font-weight: bold;
}
p {
	margin-left: 2rem;
	padding-left: 1rem;
}

.inscr {
	border-style: solid;
	background-color: #E9EAEE;
	color: #5A5A5A;
	padding: 1rem;
}

/* CALENDRIER */

.fc-event{
    cursor: pointer; /* on change le curseur au survol des evenements */
}

.fc-event-time{
   display : none; /* on retire lheure de debut des evenements */
}

.fc-time{
   display : none; /* meme chose qu'avant */
}

#calendar
{
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 5rem;
}

.cal_legende{
	text-align: center;
	margin-bottom: 4rem;
	width: 75%;
	color: white;
	border-radius: 5px;
}

#cal_legende1{
	background-color: #BA515C;
}

#cal_legende2{
	background-color: #3A87AD;
}

#cal_legende3{
	background-color: #7A771D;
}

/* FIN CALENDRIER */

#historique {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#liseret{
	height:10px;
	background-color:black;
}

/* Carousel Documents */
.carousel-control {
	z-index: 999;
  width:5%;
}

h1 {
	color:#1177bb;
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
}

.carousel {
	height: 450px;
}
.btn {
	font-size: 2rem;
}

.navbar-form{
	margin-top:3.5rem;
}

#search {
	height:43px;
}

.btn-primary {
	background-color: #1177bb;
}
/* RESPONSIVE */

/* APPARITION DU MENU HAMBURGER QUAND LA LARGEUR EST DE 1175 PX */
@media (max-width: 1175px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}

	.navbar-collapse.collapse.in {
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}
}

@media screen and (max-width:320px) {
	html{
		font-size:34%;
	}
}

@media screen and (min-width:321px) and (max-width:767px) {
	html{
		font-size:44%;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	html{
		font-size:50%;
	}
}
@media screen and (min-width:992px) and (max-width:1199px) {
	html{
		font-size:60%;
	}
}
@media screen and (min-width:1200px) {

}

.mentions_legales {
	text-align: center;
	margin-bottom: 20px;
}

.legal_text {
	margin-left: 2rem;
	margin-right: 2rem;
	padding-left: 0rem;
	padding-right: 0rem;
}

.pad {
	padding-top:130px;
}

#select form {
	float:left;
	padding:10px;
}

#select {
	text-align: center;
}

a{
		text-decoration:none;
	}
	.row-heading{
		font-weight:500;
		font-size:.7em;
		text-transform:uppercase;
	}
	.timetable .time-label{
		font-size:.8em;
		font-weight:500;
	}
	.timetable .time-entry.vip-only{
		background-color:#C490F5;
		border:1px solid #6A16B8;
	}
	.timetable .time-entry.vip-only:hover{
		background-color:#AE67F0;
	}

th{
	font-weight: bold;
}


#map {
    height: 300px;
}

#map:hover {
    border:1px solid #1177bb;
}

.padreset {
	padding:0;
}

.popover-content {
	padding: 5px 7px;
}

.popover.top{
	border: 1px solid #1177bb;
	font-family: inherit;
animation: pulse 5s infinite ease-in-out;
border-radius: 0;
margin-top:80px;
z-index:500;
}

.formContact{
	padding: 20px;
	-webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}


.btn-success{
	border-radius: 0;
}

.btnews{
    color:#fff;
}

.btnews:hover {
    text-decoration: none;
    color:#fff;
}

#news_btn {
    margin-bottom:15px;
}

.sport {
	margin-top:30px;
	margin-bottom:30px;
}

.btn-sport {
	margin-top:15px;
}
