body
{
	background-color: #fafafa;
	color:#000;
    font-size:16px;
	font-family:lane-narrow;
}

@font-face {
	font-family:dekiru;
	src:url(../fonts/dekiru.ttf);
}

@font-face{
	font-family:lane-narrow;
	src:url(../fonts/lane-narrow.ttf);
}

#title_logo{
	font-family:dekiru;
	font-size:30px;
	margin-left:20px;
    margin-top:30px;
	color:#2e81fa;
}

#navbar > ul{
	margin-top:30px;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu
{
    display: block;

}


.dropdown-menu > li > a {

color:black;

}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fafafa;
    background-color: #2e81fa;
}

.active {
	border-bottom: 2px solid #000;
	height: 0;

}

.navbar-default:hover .navbar-nav:hover > .active:hover > a, .navbar-default:hover .navbar-nav:hover > .active:hover > a:focus, .navbar-default:hover .navbar-nav:hover > .active:hover > a:hover {
	background-color: #3FA3D7;
	color:#fff;
}

/* au hover on change la couleur de l'actif en bleu */

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background-color: #2e81fa;
    color: #fafafa;
	height:82px;
}

/* couleur de l'actif par défaut */


.navbar-default .navbar-nav > li > a, .navbar-inverse .navbar-text {
	color: black;
}

/* couleur de la navbar par défaut */

.navbar-default:hover .navbar-nav:hover > li:hover > a, .navbar-inverse:hover .navbar-text:hover {
	color: #fafafa;
    background-color: #2e81fa;
}

/* couleur de la navbar au hover */

.navbar{
	background-color: white;
}

ul > li {
	font-size:18px;

}


/* slider */


 .carousel-inner > .item > img {
	width: 100%;
	height:500px;
 }

 .carousel-inner {
 	height:500px;
 }

.discipline{
	width: 50%;
	cursor: pointer;
	margin:0 auto;
}


.article{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	height: 60px;
}

#news{
    padding-top:80px;
    padding-bottom:80px;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.footer a{
	color: white;
}

.btn-primary{
	background-color: #2e81fa;
}

/* RESULTATS */

.titre_page
{
	text-align: center;
	margin-bottom: 20px;
}

form [title="selecteurs"]
{
    width: 75%;
}

.search_bar
{
	width: 100%;
	height: 50px;
	background-color: #e9eaee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #5a5a5a;
    box-shadow: 0 10px 10px #5a5a5a;
}

.sport_detail {
	display: none;
}

.sport_slideshow{
    height:346px;
    overflow-y: hidden;
}
/* Incription et tarifs */
table {
	text-align: center;
}

th {
	text-align: center;
}

h2 {
	color:#5a5a5a;
}
h3 {
	color:#2e81fa;
}

.col1 {
	width: 150px;
}

.col2 {
	width: 190px;
}

.col3 {
	width: 190px;
}
.col4 {
	width: 190px;
}

strong {
	font-weight: bold;
}
p {
	margin-left: 20px;
	padding-left: 10px;
}

.inscr {
	border-style: solid;
	background-color: #E9EAEE;
	color: #5A5A5A;
	padding: 10px;
}

.newsmid {
	width:100%;
	border:1px solid #000;
	padding:5px;
	margin-bottom: 10px;
}

.newsmid p {
	display:none;
}

.newsmid:hover p {
	display:block;
}

.newsright > h2{
	position:relative;
	top:125px;
	margin:0;
	background-color: rgba(255, 255, 255, 0.5);
	float: left;	
}

.newsright {
	margin-top: -32px;
}

/* CALENDRIER */

#calendar
{
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#historique {
	padding-top:100px;
}

#liseret{
	height:10px;
	background-color:black;
}

.mentions_legales{
    text-align: center;
    margin-bottom: 20px;
}