<div ng-controller="mentionsController as mentionsCtrl" class="container-fluid">

    <div class="row titre_page">
        <div class="col-xs-12"><h1>Mentions légales</h1></div>
    </div>

    <div class="row">

        <div class="col-xs-offset-2 col-xs-8 mentions_legales">

        <h3>Avertissement</h3>

        <p class="legal_text">Les informations contenues dans le site http://www.judo-beauceron.com n'ont aucune valeur contractuelle.</p>

        <h3>Droits d'auteur et de reproduction</h3>

        <p class="legal_text">Le site http://www.judo-beauceron.com est soumis à la législation française et internationale sur les droits d'auteur. Tous les droits de reproduction, sur quelque support que ce soit, sont réservés. La reproduction et l'utilisation du contenu de tout ou partie de ce site autres qu'individuelles et privées sont interdites, sauf autorisation expresse et préalable de l'auteur.</p>

        <h3>Directeur de la publication</h3>

        <p class="legal_text">Bla bla bla<br/>
        Bla bla Bla<br/>
        Bla bla bla<br/>
        Bla bla bla</p>


        <h3>Hébergement</h3>

        <p class="legal_text">Bla bla bla<br/>
        Bla bla bla<br/>
        Bla bla bla<br/>
        Bla bla bla</p>

        </div>
        
    </div>

</div>