<div class="container">
	<div class="row">
		<div class="news col-md-4">
			<img src="../../img/slide1.jpg" data-target=".myToggle1" cap-effect="fade" cap-speed="300" class="hcaption img-responsive">
			<div class="myToggle1 cap">
				<h3>TITRE NEWS</h3>
				<p style='text-align:left; color:#fff;'>
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
				</p>
			</div>
		</div>
		<div class="news col-md-4">
			<img src="../../img/slide2.jpg" data-target=".myToggle2" cap-effect="fade" cap-speed="300" class="hcaption img-responsive">
			<div class="myToggle2 cap">
				<h3>TITRE NEWS</h3>
				<p style='text-align:left; color:#fff;'>
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
				</p>
			</div>
		</div>
		<div class="news col-md-4">
			<img src="../../img/photo3.jpg" data-target=".myToggle3" cap-effect="fade" cap-speed="300" class="hcaption img-responsive">
			<div class="myToggle3 cap">
				<h3>TITRE NEWS</h3>
				<p style='text-align:left; color:#fff;'>
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="news col-md-4">
			<img src="../../img/photo3.jpg" data-target=".myToggle4" cap-effect="fade" cap-speed="300" class="hcaption img-responsive">
			<div class="myToggle4 cap">
				<h3>TITRE NEWS</h3>
				<p style='text-align:left; color:#fff;'>
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
				</p>
			</div>
		</div>
		<div class="news col-md-4">
			<img src="../../img/slide1.jpg" data-target=".myToggle5" cap-effect="fade" cap-speed="300" class="hcaption img-responsive">
			<div class="myToggle5 cap">
				<h3>TITRE NEWS</h3>
				<p style='text-align:left; color:#fff;'>
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
				</p>
			</div>
		</div>
		<div class="news col-md-4">
			<img src="../../img/slide2.jpg" data-target=".myToggle6" cap-effect="fade" cap-speed="300" class="hcaption img-responsive">
			<div class="myToggle6 cap">
				<h3>TITRE NEWS</h3>
				<p style='text-align:left; color:#fff;'>
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="news col-md-4">
			<img src="../../img/photo3.jpg" data-target=".myToggle7" cap-effect="fade" cap-speed="300" class="hcaption img-responsive">
			<div class="myToggle7 cap">
				<h3>TITRE NEWS</h3>
				<p style='text-align:left; color:#fff;'>
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
				</p>
			</div>
		</div>
		<div class="news col-md-4">
			<img src="../../img/photo3.jpg" data-target=".myToggle8" cap-effect="fade" cap-speed="300" class="hcaption img-responsive">
			<div class="myToggle8 cap">
				<h3>TITRE NEWS</h3>
				<p style='text-align:left; color:#fff;'>
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
				</p>
			</div>
		</div>
		<div class="news col-md-4">
			<img src="../../img/photo3.jpg" data-target=".myToggle9" cap-effect="fade" cap-speed="300" class="hcaption img-responsive">
			<div class="myToggle9 cap">
				<h3>TITRE NEWS</h3>
				<p style='text-align:left; color:#fff;'>
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
					Etiam fermentum non tellus pellentesque bibendum. Nulla quis lacinia sem. Nullam dictum nisl eget nunc pretium, eget interdum mauris volutpat.
				</p>
			</div>
		</div>
	</div>
</div>
