<div class="container" ng-controller='newsController' style='padding:30px;'>
	<div class="row">
		<div id="{{'news'+$index}}" class="news col-md-4" ng-repeat="news in newslist">
			<img src="{{news.img}}" data-target="{{'.myToggle'+$index}}" cap-effect="fade" cap-speed="300" class="hcaption img-responsive">
			<div class="{{'myToggle'+$index}} cap">
				<h3 style='color:#000;'>{{news.titre}}</h3>
				<p style='text-align:left; color:#fff;'>
					{{news.texte}}
				</p>
				<a href='' data-toggle="modal" data-target="{{'#myModal'+$index}}" style="text-decoration:underline;">{{news.lien}}</a>
			</div>
		</div>
		<div class="formContact modal fade" style='margin-top:20px;' ng-repeat="news in newslist" id="{{'myModal'+$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="well modal-content col-md-4 col-md-offset-4">
				<div class="modal-header" style="padding:0;">
					<img src="{{news.img}}" class="img-responsive">
					<h3 style='text-align:center;'>{{news.titre}}</h3>
				</div>
				<div class="modal-body">
					<p>{{news.texte}}</p>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript-lazy" src="../../js/caption.js"></script>
