<!-- Begin Body -->
<div ng-contoller="newsController as newsCtrl" class="container pad">
    <div class="no-gutter row">


            <!--mid column-->
            <div class="col-md-3">
              <div class="panel" id="midCol">
                <div class="panel-heading" style="background-color:#555;color:#eee;">Parcourir</div>


                <div id="select"><h2>Choisissez :</h2>
                <form method="post" action="news.html">
                   <p>
                       <label for="sport">Sport</label><br />
                       <select name="sport" id="sport">
                           <option value="judo">Judo</option>
                           <option value="taiso">Taïso</option>
                           <option value="jujitsu">Ju-Jitsu</optionewsmidn>
                       </select></p></form>

                <form method="post" action="news.html">
                    <label for="annee">Année</label><br />
                       <select name="annee" id="annee">
                           <option value="2016">2016</option>
                           <option value="2015">2015</option>
                           <option value="2014">2014</option>
                       </select>

                </form>
                </div>

                <div class="panel-body panelnews">

                  <div class="newsmid">
                  <a href="#"><img class="img-responsive" src="img/news.jpeg"></a>
                  <p>Ligne Titre</p>
                  </div>

                    <div class="newsmid">
                  <a href="#"><img class="img-responsive" src="img/news.jpeg"></a>
                  <p>Ligne Titre</p>
                  </div>

                  <div class="newsmid">
                  <a href="#"><img class="img-responsive" src="img/news.jpeg"></a>
                  <p>Ligne Titre</p>
                  </div>

                  <div class="newsmid">
                  <a href="#"><img class="img-responsive" src="img/news.jpeg"></a>
                  <p>Ligne Titre</p>
                  </div>

                  <div class="newsmid">
                  <a href="#"><img class="img-responsive" src="img/news.jpeg"></a>
                  <p>Ligne Titre</p>
                  </div>

                  <div class="newsmid">
                 <a href="#"><img class="img-responsive" src="img/news.jpeg"></a>
                  <p>Ligne Titre</p>
                  </div>
               </div>
               </div><!--/panel-->
            </div><!--/end mid column-->

            <!-- right content column-->
            <div class="col-md-7" id="content">
                <div class="panel">
                <div class="panel-heading" style="background-color:#111;color:#fff;">Dernières News</div>
                <div class="panel-body">

                  <div class="row">
                  <div class="newsright"><h2>Judo</h2><img class="img-responsive" src="img/news.jpeg">

                    <div class="newscontent">
                    <h3>TITRE</h3>
                    2013 was marked as the year of Responsive Web Design (RWD). The Web is filled with big brands, galleries and magical examples that media queries demonstrate the glory of responsive design.<br><br>
                    <button class="btn btn-primary right-block">Link</button> <button class="btn btn-primary right-block">Link</button> <button class="btn btn-primary right-block">Link</button>
                    <br><br>


                  </div>

                  <div class="newsright"><h2>Judo</h2><img class="img-responsive" src="img/news.jpeg">

                    <div class="newscontent">
                    <h3>TITRE</h3>
                    2013 was marked as the year of Responsive Web Design (RWD). The Web is filled with big brands, galleries and magical examples that media queries demonstrate the glory of responsive design.</div><br><br><button class="btn btn-primary right-block">Link</button> <button class="btn btn-primary right-block">Link</button> <button class="btn btn-primary right-block">Link</button>
                    <br><br>


                  </div>

                                    <div class="newsright"><h2>Judo</h2><img class="img-responsive" src="img/news.jpeg">

                    <div class="newscontent">
                    <h3>TITRE</h3>
                    2013 was marked as the year of Responsive Web Design (RWD). The Web is filled with big brands, galleries and magical examples that media queries demonstrate the glory of responsive design.</div><br><br><button class="btn btn-primary right-block">Link</button> <button class="btn btn-primary right-block">Link</button> <button class="btn btn-primary right-block">Link</button>
                    <br><br>


                  </div>

                                    <div class="newsright"><h2>Judo</h2><img class="img-responsive" src="img/news.jpeg">

                    <div class="newscontent">
                    <h3>TITRE</h3>
                    2013 was marked as the year of Responsive Web Design (RWD). The Web is filled with big brands, galleries and magical examples that media queries demonstrate the glory of responsive design.</div><br><br><button class="btn btn-primary right-block">Link</button> <button class="btn btn-primary right-block">Link</button> <button class="btn btn-primary right-block">Link</button>
                    <br><br>


                  </div>

                                    <div class="newsright"><h2>Judo</h2><img class="img-responsive" src="img/news.jpeg">

                    <div class="newscontent">
                    <h3>TITRE</h3>
                    2013 was marked as the year of Responsive Web Design (RWD). The Web is filled with big brands, galleries and magical examples that media queries demonstrate the glory of responsive design.</div><br><br><button class="btn btn-primary right-block">Link</button> <button class="btn btn-primary right-block">Link</button> <button class="btn btn-primary right-block">Link</button>
                    <br><br>


                  </div>


                  </div>
                </div>




                  </div><!--/panel-body-->
                </div><!--/panel-->
                <!--/end right column-->
        </div>
    </div>
</div>
