<nav class="navbar navbar-default">
    <div class="container-fluid" ng-controller="PannelController as pannel">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header" style='animation-delay:2s;'> <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <img alt="Brand" class="pull-left" id="logo_img" src="../../img/logo.png">
            <a ng-class="{active:isActive('/accueil')}" class="navbar-brand" id="title_logo" href="#accueil">Dojo Beauceron</a>
        </div>

        <!-- ng-click="selectionLien(accueil)" ng-class="{ active: link == accueil}" -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar" style='animation-delay:1s;'>
            <ul class="nav navbar-nav pull-right">
                <li ng-class="{active:isActive('/accueil') || isActive('/')}"><a href="#accueil">Accueil</a></li>
                <li ng-class="{active:isActive('/news')}"><a href="#news">Actualités</a></li>
                <li ng-class="{active:isActive('/calendrier')}"><a href="#calendrier">Calendrier</a></li>
                <li ng-class="{active:isActive('/horaires') || isActive('/inscription') || isActive('/historique') || isActive('/documents')}" class="dropdown"><a>Le Club<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-class="{active:isActive('/horaires')}"><a href="#horaires">Horaires</a></li>
                        <li ng-class="{active:isActive('/inscription')}"><a href="#inscription">Inscription et Tarifs</a></li>
                        <li ng-class="{active:isActive('/historique')}"><a href="#historique">Historique</a></li>
                        <li ng-class="{active:isActive('/documents')}"><a href="#documents">Documents</a></li>
                    </ul>
                </li>

                <li ng-class="{active:isActive('/resultats')}"><a href="#resultats">Résultats</a></li>
                <li ng-class="{active:isActive('/contact')}"><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div id="liseret" style='animation-delay:1s;'></div>

<script>
$(document).ready(function(){
  $('.navbar').animateCss('fadeInDown');
  $('#liseret').animateCss('slideInLeft');
  $('.navbar-header').animateCss('fadeIn');
  $('#navbar').animateCss('slideInLeft');
});
</script>
