<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="photos in resultat.podium | filter : anos | filter : genre | filter : cat">
        <div class="thumbnail text-center results_frame">
            <img ng-src="{{photos.images[0]}}" alt="" class="responsive">
            <div class="caption">
                <p>{{photos.title}}</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="{{'.result1'+$index}}"><span
                        class="glyphicon glyphicon-plus" aria-hidden="true"></span> Voir plus
                </button>
            </div>
        </div>
    </div>
    <div ng-repeat="photos in resultat.podium" class="modal fade {{'result1'+$index}}" tabindex="-1" role="dialog" aria-labelledby="result1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="thumbnail text-center">
                    <h2>
                        {{photos.title}}
                    </h2>

                    <div class="caption">
                        <img ng-repeat="img in photos.images" ng-src="{{img}}" alt="" class="responsive modale_photo">
                        <!-- <img src="{{photos.description}}" alt=""> -->
                        <p class="alert alert-info" ng-bind-html="photos.description"></p>

                        <button type="button" class="btn btn-default" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove" aria-hidden="true"> Fermer</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
