<div class="container-fluid" ng-repeat="resultat in resultats">

    <div class="row titre_page">
        <div class="col-xs-12"><h2><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Résultats</h2>
        </div>
    </div>

    <div class="row select_elements">

        <select-annee></select-annee>

        <select-sexe></select-sexe>

        <select-categorie></select-categorie>

    </div>

    <search-categorie></search-categorie>

        <phototheque-resultats></phototheque-resultats>

</div>

