<div class="col-xs-offset-3 col-xs-2 text-center">
    <form method="post" action="resultats.html">
            <label for="annee">Année</label><br />
            <select name="annee" id="annee" title="selecteurs">
                <option value="{{resultat.annee}}">{{resultat.annee}}</option>
                <option value="{{resultat.annee}}">{{resultat.annee}}</option>
                <option value="{{resultat.annee}}">{{resultat.annee}}</option>
                <option value="{{resultat.annee}}">{{resultat.annee}}</option>
                <option value="{{resultat.annee}}">{{resultat.annee}}</option>
                <option value="{{resultat.annee}}">{{resultat.annee}}</option>
                <option value="{{resultat.annee}}">{{resultat.annee}}</option>
            </select>
    </form>
</div>