<div class="col-xs-2 text-center">
    <form method="post" action="resultats.html">
            <label for="annee">Catégorie</label><br />
            <select name="annee" id="annee" class="annee" title="selecteurs">
                <option value="{{resultat.categorie}}">{{resultat.categorie}}</option>
                <option value="{{resultat.categorie}}">{{resultat.categorie}}</option>
                <option value="{{resultat.categorie}}">{{resultat.categorie}}</option>
                <option value="{{resultat.categorie}}">{{resultat.categorie}}</option>
                <option value="{{resultat.categorie}}">{{resultat.categorie}}</option>
                <option value="{{resultat.categorie}}">{{resultat.categorie}}</option>
                <option value="{{resultat.categorie}}">{{resultat.categorie}}</option>
            </select>
    </form>
</div>