<!DOCTYPE HTML>
<html ng-app="dojo">
	<head>
		<meta charset = "utf-8"/>
		<title>Dojo Beauceron - Documents</title>
		<liens></liens>
    	
	</head>

	<body>
		<!-- navigation -->

			<nav class="navbar navbar-default navbar-fixed-top">
			    <div class="container-fluid">
			        <!-- Brand and toggle get grouped for better mobile display -->
			        <div class="navbar-header">
			            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>
			            <img class="pull-left" src="img/logo.png"><a class="navbar-brand" id="title_logo" href="#">Dojo Beauceron</a>
			        </div>

			        <!-- Collect the nav links, forms, and other content for toggling -->
			        <div class="collapse navbar-collapse" id="navbar">
			            <ul class="nav navbar-nav navbar-right">
			                <li><a href="index.html">Accueil</a></li>

			                <li class="dropdown">
			                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actualités <span class="caret"></span></a>-->
			                    <a href="#">Actualités <span class="caret"></span></a>
			                    <ul class="dropdown-menu">
			                        <li><a href="news.html">News</a></li>
			                        <li><a href="#">Calendrier</a></li>
			                    </ul>
			                </li>
			                <li class="dropdown">
			                    <a href="#">Le Club <span class="caret"></span></a>
			                    <ul class="dropdown-menu">
			                        <li><a href="#">Horaires</a></li>
			                        <li><a href="Inscription_Tarifs.html">Inscriptions et Tarifs</a></li>
			                        <li><a href="#">Dojos</a></li>
			                        <li><a href="#">Historique</a></li>
			                        <li class="active"><a href="documents.html">Documents</a></li>
			                    </ul>
			                </li>
			                <li><a href="resultats.html">Résultats</a></li>
			                <li><a href="#">Contact</a></li>
			                <form class="navbar-form navbar-left" role="search">
			                    <div class="form-group">
			                        <input type="text" class="form-control" placeholder="Search">
			                    </div>
			                    <button type="submit" class="btn btn-default">Rechercher</button>
			                </form>
			            </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
            <div id="liseret"></div>
	</nav>

<!--TITRE PAGE-->	
	<div class="container">
        <!-- Début Carrousel Documents -->
            <div class="well">
                <div class="col-xs-12"><h1>Documents à télécharger</h1></div>
                    <div id="myCarousel" class="carousel slide" data-pause="null">
                     <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-4"><a href="Documents/Autorisation_permanente.pdf" download="Autorisation_permanente.pdf" class="thumbnail"><img src="Documents/Autorisation_permanente.jpg" class="img-responsive"></a>
                                    <div class="text-center">Autorisation Permanente</div>
                                    </div>
                                    <div class="col-sm-4"><a href="Documents/Autorisation_photo.pdf" download="Autorisation_photo.pdf" class="thumbnail"><img src="Documents/Autorisation_photo.jpg" class="img-responsive"></a>
                                    <div class="text-center">Autorisation Photo</div>
                                    </div>
                                    <div class="col-sm-4"><a href="Documents/Autorisation_test_anti_dopage.pdf" download="Autorisation_test_anti_dopage.pdf" class="thumbnail"><img src="Documents/Autorisation_test_anti_dopage.jpg"  class="img-responsive"></a>
                                    <div class="text-center">Autorisation Test Anti-Dopage</div>
                                    </div>             
                                </div><!--/row-->
                            </div><!--/item-->

                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-4"><a href="Documents/Certificat_medical.pdf" download="Certificat_medical.pdf"class="thumbnail"><img src="Documents/Certificat_medical.jpg" class="img-responsive"></a>
                                    <div class="text-center">Certificat Médical</div>
                                    </div>
                                    <div class="col-sm-4"><a href="Documents/notice_demande_de_renouvellement.pdf" download="notice_demande_de_renouvellement.pdf" class="thumbnail"><img src="Documents/notice_demande_de_renouvellement.jpg" class="img-responsive"></a>
                                    <div class="text-center">Notice renouvellement licence</div>
                                    </div>
                                    <div class="col-sm-4"><a href="Documents/Coupon_AG.pdf" download="Coupon_AG.pdf" class="thumbnail"><img src="Documents/Coupon_AG.jpg" class="img-responsive"></a>
                                    <div class="text-center">Coupon AG</div>
                                    </div>
                                </div><!--/row-->
                            </div><!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-4"><a href="Documents/Pouvoir_AG.pdf" download="Pouvoir_AG.pdf" class="thumbnail"><img src="Documents/Pouvoir_AG.jpg" class="img-responsive"></a>
                                    <div class="text-center">Pouvoir AG</div>
                                    </div>
                                    <div class="col-sm-4"><a href="Documents/Horaires.pdf" download="Horaires.pdf" class="thumbnail"><img src="Documents/Horaires.jpg" class="img-responsive"></a>
                                    <div class="text-center">Horaires</div>
                                    </div>
                                    <div class="col-sm-4"><a href="Documents/Tarif.pdf" download="Tarif.pdf" class="thumbnail"><img src="Documents/Tarif.jpg" class="img-responsive"></a>
                                    <div class="text-center">Tarifs</div>
                                    </div>
                                </div><!--row-->
                            </div><!--item-->
                    </div><!--/CarouselInner-->       
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
                  
                   
                </div><!--/myCarousel-->
            </div><!-- /well -->
    </div><!--/container -->


             <div class="footer">
                <div class="col-xs-offset-4 col-xs-4">
                <p>&copy; 2016, Dojo Beauceron, tous droits réservés</p>
                </div>
                <div class="col-xs-4">
                <a href="#">Mentions légales</a>
                </div>
            </div>
    


<script type="text/javascript" src="../../js/vendor/angular/angular.js"></script>
<script type="text/javascript" src="../../js/app.js"></script>


</body>
</html>