<!DOCTYPE html>
<html ng-app="dojo">
<head>
    <meta charset="UTF-8">
    <title>Dojo Beauceron - Accueil</title>
        <liens></liens>
    
    <script type="text/javascript" src="../../js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="../../js/app.js"></script>
    <script src="../../js/script.js"></script>
        <script src="../../js/vendor/jquery/jquery.js"></script>
    <script src="../../js/vendor/dot/jquery.dotdotdot.min.js"></script>
     <script src="../../js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="../../js/vendor/nivo_slider/jquery.nivo.slider.pack.js"></script>
    
</head>
<body>


<!-- navigation -->
<navigation></navigation>
<!-- slide -->
<slide-accueil></slide-accueil>


<!-- discipline -->
<discipline></discipline>




<div class="container">
    <div class="row" id="news"></div></div>
<!-- news-->
        
<news-accueil></news-accueil>


<pied></pied>

    
</body>

</html>

