            <div class="container">
                <div class="row">
                    <article class="col-xs-4 sport" id="judo">
                        <h2 class="text-center">Judo</h2>
                        <img class="discipline img-responsive" src="../../img/Judo.png" alt="">
                        <button class="btn btn-primary center-block">En savoir plus</button>
                        <div class="sport_detail">
                            <hr/>
                            <div class="row">

                                <div class="col-xs-8">
                                    <div class="sport_slideshow stagger3">
                                        <img src="../../img/slide1.jpg" alt="">
                                        <img src="../../img/slide2.jpg" alt="">
                                        <img src="../../img/slide3.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <h2 class="stagger1">Judo</h2>
                                    <p class="stagger2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur debitis deleniti, dolore eveniet explicabo fugiat in maiores minus non numquam possimus recusandae temporibus, totam ullam, vero vitae voluptas voluptatibus.</p>
                                </div>
                            </div>
                            <hr/>
                        </div><!-- end sport detail -->
                    </article><!-- end 1st sport -->

                    <article class="col-xs-4 sport" id="jujitsu">
                        <h2 class="text-center">Jujitsu</h2>
                        <img class="discipline img-responsive" src="../../img/JuJitsu.png" alt="">
                        <button class="btn btn-primary center-block">En savoir plus</button>
                        <div class="sport_detail">
                            <hr/>
                            <div class="row">

                                <div class="col-xs-8">
                                    <div class="sport_slideshow stagger3">
                                        <img src="../../img/slide1.jpg" alt="">
                                        <img src="../../img/slide2.jpg" alt="">
                                        <img src="../../img/slide3.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <h2 class="stagger1">Jujitsu</h2>
                                    <p class="stagger2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur debitis deleniti, dolore eveniet explicabo fugiat in maiores minus non numquam possimus recusandae temporibus, totam ullam, vero vitae voluptas voluptatibus.</p>
                                </div>
                            </div>
                            <hr/>
                        </div><!-- end sport detail -->
                    </article><!-- end 2nd sport -->

                    <article class="col-xs-4 sport" id="taiso">
                        <h2 class="text-center">Taiso</h2>
                        <img class="discipline img-responsive" src="../../img/Taiso.png" alt="">
                        <button class="btn btn-primary center-block">En savoir plus</button>
                        <div class="sport_detail">
                            <hr/>
                            <div class="row">

                                    <div class="col-xs-8">
                                        <div class="sport_slideshow stagger3">
                                            <img src="../../img/slide1.jpg" alt="">
                                            <img src="../../img/slide2.jpg" alt="">
                                            <img src="../../img/slide3.jpg" alt="">
                                        </div>
                                </div>

                                <div class="col-xs-4">
                                    <h2 class="stagger1">Taiso</h2>
                                    <p class="stagger2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur debitis deleniti, dolore eveniet explicabo fugiat in maiores minus non numquam possimus recusandae temporibus, totam ullam, vero vitae voluptas voluptatibus.</p>
                                </div>
                            </div>
                            <hr/>
                        </div><!-- end sport detail -->
                    </article><!-- end 3rd sport -->


                </div><!-- end row -->
                <div class="row-detail"></div>
            </div><!-- end container -->