<div class="col-xs-4">
            <div class="thumbnail text-center">
                <h2>News</h2>
                <p class="article dot-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dolore, qui veniam explicabo, sint inventore tempora iusto similique repellendus porro nulla necessitatibus dignissimos nemo, aperiam facilis. Aperiam voluptatum recusandae ducimus.</p>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="thumbnail text-center">
                <h2>News</h2>
                <p class="article dot-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dolore, qui veniam explicabo, sint inventore tempora iusto similique repellendus porro nulla necessitatibus dignissimos nemo, aperiam facilis. Aperiam voluptatum recusandae ducimus.</p>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="thumbnail text-center">
                <h2>News</h2>
                <p class="article dot-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dolore, qui veniam explicabo, sint inventore tempora iusto similique repellendus porro nulla necessitatibus dignissimos nemo, aperiam facilis. Aperiam voluptatum recusandae ducimus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde in earum cum reiciendis vero a, autem velit? Sed soluta suscipit quos, quia minima deserunt labore nisi, esse non debitis illo.</p>
            </div>
        </div>
        <div class="center-block">
            <button class="btn btn-primary center-block">Voir plus de news</button>
        </div>
    </div>

</div>