<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset='utf-8' />

<title>Dojo Beauceron - Calendrier</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">

<!-- SCRIPTS GENERAUX -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="../../js/app.js"></script>

<!-- SCRIPTS CALENDRIER -->

<link href='../../js/vendor/fullcalendar/fullcalendar.css' rel='stylesheet' />
<script src='../../js/vendor/fullcalendar/moment.min.js'></script>
<script src='../../js/vendor/fullcalendar/jquery.min.js'></script>
<script src='../../js/vendor/fullcalendar/fullcalendar.min.js'></script>
<script src='../../js/vendor/fullcalendar/fr.js'></script>

<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			defaultDate: '2016-10-03',
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'Meeting Chartres',
					start: '2016-09-01'
				},
				{
					title: 'Compétition internationale',
					start: '2016-09-07',
					end: '2016-09-10'
				},
				{
					title: 'Compétitions Judo',
					start: '2016-09-11',
					end: '2016-09-13'
				},
				{
					title: 'Debriefing',
					start: '2016-09-12T18:30:00'
				}

			]
		});
		
	});

</script>

</head>
<body ng-controller="dojoController as dojo">

<!-- NAVIGATION -->

<navigation></navigation>

<!-- TITRE PAGE-->

<div class="container-fluid">
    <div class="row titre_page">
        <div class="col-xs-12"><h2><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendrier</h2></div>
    </div>
</div>

<!-- CALENDRIER -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div id='calendar'></div>
        </div>
    </div>
</div>


<!-- FOOTER -->

<div class="container-fluid">
    <div class="row">
        <div class="footer">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            <p>&copy; 2016, Dojo Beauceron, tous droits réservés</p>
            </div>
            <div class="col-xs-4">
            <a href="mentions.html">Mentions légales</a>
            </div>
        </div>
    </div>
</div>

<!-- SCRIPTS -->



</body>
</html>
