<!-- TITRE PAGE-->

<div class="container-fluid" ng-controller="calendarEvents as events">
    <div class="row titre_page">
        <div class="col-xs-12"><h2><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendrier</h2></div>
    </div>
</div>

<!-- CALENDRIER -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
        </div>
    </div>
</div>
