<!DOCTYPE html>
<html lang="fr" ng-app="dojo">
<head>
    <meta charset="utf-8">

    <title>Dojo Beauceron - Calendrier</title>

    <script type="text/javascript" src="../../js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="../../js/app.js"></script>

    <liens></liens>

    <!-- SCRIPTS GENERAUX NECESSAIRES AU CALENDRIER -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- SCRIPTS SPECIFIQUES CALENDRIER -->
    <!-- CSS FULLCALENDAR -->
    <link rel="stylesheet" type="text/css" href="../../css/vendor/fullcalendar/fullcalendar.css">
    <!-- JAVASCRIPT FULLCALENDAR -->
    <script type="text/javascript" src='../../js/vendor/fullcalendar/moment.min.js'></script>
    <script type="text/javascript" src='../../js/vendor/fullcalendar/jquery.min.js'></script>
    <script type="text/javascript" src='../../js/vendor/fullcalendar/fullcalendar.min.js'></script>
    <script type="text/javascript" src='../../js/vendor/fullcalendar/fr.js'></script>
    <!-- CHARGEMENT DES EVENEMENTS -->
    <script type="text/javascript" src='../../js/vendor/fullcalendar/events.js'></script>

</head>
<body>

<!-- NAVIGATION -->

<navigation></navigation>

<!-- TITRE PAGE-->

<div class="container-fluid">
    <div class="row titre_page">
        <div class="col-xs-12"><h2><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendrier</h2></div>
    </div>
</div>

<!-- CALENDRIER -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div id='calendar'></div>
        </div>
    </div>
</div>

<!-- FOOTER -->

<pied></pied>

</body>
</html>
