
<div class="container ">
  <div class="row ">

    <!-- Button trigger modal -->
    <div class="btn-group col-md-offset-5">
      <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Nous contacter ! <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" style="width:100%;">
        <li><a data-toggle="modal" data-target="#myModal" style="cursor:pointer;">Via le site</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Vous même</a></li>
      </ul>
    </div>
  </br></br>

    <!-- FORMULAIRE -->
    <div class="formContact modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div data-ng-controller="FormController" class="modal-dialog" role="document">
        <div class="well modal-content">
          <div class="modal-header" style="padding:0;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Veuillez remplir le formulaire</h3>
          </div>
          <div class="modal-body">
            <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
            <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>
            <form name="FormControllerForm" novalidate role="form">
              <div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && FormControllerForm.name.$error.required">Champ requis !</span>
                <input type="text" placeholder="Prénom" name="name" data-ng-model="name" class="form-control" required />
              </div>

              <div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && FormControllerForm.lastName.$error.required">Champ requis !</span>
                <input type="text" placeholder="Nom" name="lastName" data-ng-model="lastName" class="form-control" required />
              </div>

              <div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && FormControllerForm.email.$error.required">Champ requis !</span>
                <span class="label label-danger" data-ng-show="submitted && FormControllerForm.$error.email">E-mail invalide !</span>
                <input type="email" placeholder="E-mail" name="email" data-ng-model="email" class="form-control" required />
              </div>

              <div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && FormControllerForm.comments.$error.required">Champ requis !</span>
                <textarea name="comments" placeholder="Taper votre message" data-ng-model="comments" class="form-control max" required></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button data-ng-disabled="progress.active()" data-ng-click="submit(FormControllerForm)" class="btn btn-warning col-md-4 col-md-offset-4">Envoyer <span class="glyphicon glyphicon-send"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="map" class="well padreset col-md-12" data-placement="top" data-trigger="focus" data-toggle="popover" data-content="Cliquez sur un marqueur pour plus d'info"></div>
  </div>

  <div class="row">
    <div class="well col-md-12 dojoCH" >
      <img src='../../img/news.jpeg' style='width:100%;' class="img-responsive"></img>
      <h1>DOJO CHARTRES</h1>
      <p>Maecenas tristique nibh ut odio pulvinar consequat. Vivamus a massa non mi sollicitudin molestie. Duis condimentum tincidunt nisl, pharetra accumsan augue varius sed. Pellentesque vehicula cursus commodo. Quisque bibendum turpis ut porttitor tincidunt. Proin eget venenatis risus. Fusce commodo quis nunc eu finibus. Duis at tortor tellus. Phasellus pretium aliquam dui eu porta. Phasellus urna turpis, fringilla at condimentum eget, consequat vel urna. Donec quis odio dictum, porttitor magna nec, elementum nulla. Maecenas fermentum varius magna vitae vulputate. Maecenas ac malesuada urna, in aliquet nunc. Suspendisse in lectus id metus pulvinar lacinia ut ut eros.</p>
    </div>
    <div class="well col-md-12 dojoMV" >
      <img src='../../img/news.jpeg' style='width:100%;' class="img-responsive"></img>
      <h1>DOJO MAINVILLIERS</h1>
      <p>Maecenas tristique nibh ut odio pulvinar consequat. Vivamus a massa non mi sollicitudin molestie. Duis condimentum tincidunt nisl, pharetra accumsan augue varius sed. Pellentesque vehicula cursus commodo. Quisque bibendum turpis ut porttitor tincidunt. Proin eget venenatis risus. Fusce commodo quis nunc eu finibus. Duis at tortor tellus. Phasellus pretium aliquam dui eu porta. Phasellus urna turpis, fringilla at condimentum eget, consequat vel urna. Donec quis odio dictum, porttitor magna nec, elementum nulla. Maecenas fermentum varius magna vitae vulputate. Maecenas ac malesuada urna, in aliquet nunc. Suspendisse in lectus id metus pulvinar lacinia ut ut eros.</p>
    </div>
  </div>
</div>


<script>
$('#map').click(function(){
  $(this).popover('hide');
});
$('.max').css('height', '100px');
$('#attributeForm').bootstrapValidator();
$('.btn-success').animateCss('flipInX');
$('.alert-success').css('display','none');
$('.control-label').css('display','none');
$('.dojoCH').css('display','none');
$('.dojoMV').css('display','none');
$('#map').popover('show');
$('.popover').find('div:first').remove();
</script>
