<!-- Begin Body -->
<div ng-controller="contactController as contactCtrl" class="container " style="margin-top: 150px;">
    <div class="row">
			<div class="well fixed col-md-2">
			<form id="attributeForm" method="post" class="form-horizontal"
			    data-bv-message="This value is not valid"
			    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
			    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
			    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
					<legend>Contactez nous !</legend>
					<div class="form-group">
					  <label class="col-md-4 control-label">First Name</label>
					  <div class="col-md-12 inputGroupContainer">
					  <div class="input-group">
					  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" class="form-control" name="firstName" placeholder="Prénom"
								data-bv-notempty="true"
								data-bv-notempty-message="The last name is required and cannot be empty" />					    </div>
					  </div>
					</div>


					<div class="form-group">
					  <label class="col-md-4 control-label">First Name</label>
					  <div class="col-md-12 inputGroupContainer">
					  <div class="input-group">
					  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" class="form-control" name="lastName" placeholder="Nom de famille"
								data-bv-notempty="true"
								data-bv-notempty-message="The last name is required and cannot be empty" />					    </div>
					  </div>
					</div>

					<div class="form-group">
					  <label class="col-md-4 control-label">First Name</label>
					  <div class="col-md-12 inputGroupContainer">
					  <div class="input-group">
					  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						<input type="email" class="form-control" name="email" placeholder="E-mail"
								data-bv-notempty="true"
								data-bv-notempty-message="The last name is required and cannot be empty" />					    </div>
					  </div>
					</div>


					<div class="form-group">
					  <label class="col-md-4 control-label">Project Description</label>
					    <div class="col-md-12 inputGroupContainer">
					    <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
					        	<textarea class="form-control" name="comment" placeholder="Message"></textarea>
					  </div>
					  </div>
					</div>


					<!-- Success message -->
					<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-12 control-label"></label>
						<div class="col-md-12">
							<button type="submit" class="btn btn-warning col-md-12" >Envoyer <span class="glyphicon glyphicon-send"></span></button>
						</div>
					</div>
				</div>

			</form>

			<div id="map" class="well padreset col-md-8 col-md-offset-4 " data-placement="bottom" data-trigger="focus" data-toggle="popover" data-content="Cliquez sur un marqueur pour plus d'info"></div>

		</div>

		<div class="row">
			<div class="well col-md-8 col-md-offset-4 dojoCH" >
				<img src='../../img/news.jpeg' class="img-responsive"></img>
				<h1>DOJO CHARTRES</h1>
				<p>Maecenas tristique nibh ut odio pulvinar consequat. Vivamus a massa non mi sollicitudin molestie. Duis condimentum tincidunt nisl, pharetra accumsan augue varius sed. Pellentesque vehicula cursus commodo. Quisque bibendum turpis ut porttitor tincidunt. Proin eget venenatis risus. Fusce commodo quis nunc eu finibus. Duis at tortor tellus. Phasellus pretium aliquam dui eu porta. Phasellus urna turpis, fringilla at condimentum eget, consequat vel urna. Donec quis odio dictum, porttitor magna nec, elementum nulla. Maecenas fermentum varius magna vitae vulputate. Maecenas ac malesuada urna, in aliquet nunc. Suspendisse in lectus id metus pulvinar lacinia ut ut eros.</p>
			</div>
			<div class="well col-md-8 col-md-offset-4 dojoMV" >
				<img src='../../img/news.jpeg' class="img-responsive"></img>
				<h1>DOJO MAINVILLIERS</h1>
				<p>Maecenas tristique nibh ut odio pulvinar consequat. Vivamus a massa non mi sollicitudin molestie. Duis condimentum tincidunt nisl, pharetra accumsan augue varius sed. Pellentesque vehicula cursus commodo. Quisque bibendum turpis ut porttitor tincidunt. Proin eget venenatis risus. Fusce commodo quis nunc eu finibus. Duis at tortor tellus. Phasellus pretium aliquam dui eu porta. Phasellus urna turpis, fringilla at condimentum eget, consequat vel urna. Donec quis odio dictum, porttitor magna nec, elementum nulla. Maecenas fermentum varius magna vitae vulputate. Maecenas ac malesuada urna, in aliquet nunc. Suspendisse in lectus id metus pulvinar lacinia ut ut eros.</p>
			</div>
		</div>
</div>

<script src="../../js/vendor/jquery/jquery.js"></script>
<script>
$(document).ready(function() {
		$('.navbar-fixed-top').addClass('animated fadeInDown');
    $('#attributeForm').bootstrapValidator();
		$('.fixed').addClass('animated flipInY');
		$('.alert-success').css('display','none');
		$('.control-label').css('display','none');
		$('.dojoCH').css('display','none');
		$('.dojoMV').css('display','none');
		$('#map').popover('show');
		$('.popover').addClass('animated pulse infinite');
		$('.popover').find('div:first').remove();
});
</script>


<script src="../../js/vendor/bootstrap/bootstrap-notify.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<script src="../../js/map.js"></script>