
<div class="container ">
  <div class="row ">

    <!-- Button trigger modal -->
    <div class="col-md-offset-5">
<!--       <button type="button" class="btn btn-default btn-lg"><a class="btnContact" data-toggle="modal" data-target="#myModal" style="cursor:pointer;">Nous-contacter !</a></button> -->
<a class="btnContact btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" style="cursor:pointer;">Nous-contacter !</a>
    </div>
  </br></br>

    <!-- FORMULAIRE -->
    <div class="formContact modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div data-ng-controller="FormController" class="modal-dialog" role="document">
        <div class="well modal-content">
          <div class="modal-header" style="padding:0;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Veuillez remplir le formulaire</h3>
          </div>
          <div class="modal-body">
            <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
            <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>
            <form name="FormControllerForm" novalidate role="form">
              <div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && FormControllerForm.name.$error.required">Champ requis !</span>
                <input type="text" placeholder="Prénom" name="name" data-ng-model="name" class="form-control" required />
              </div>

              <div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && FormControllerForm.lastName.$error.required">Champ requis !</span>
                <input type="text" placeholder="Nom" name="lastName" data-ng-model="lastName" class="form-control" required />
              </div>

              <div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && FormControllerForm.email.$error.required">Champ requis !</span>
                <span class="label label-danger" data-ng-show="submitted && FormControllerForm.$error.email">E-mail invalide !</span>
                <input type="email" placeholder="E-mail" name="email" data-ng-model="email" class="form-control" required />
              </div>

              <div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && FormControllerForm.comments.$error.required">Champ requis !</span>
                <textarea name="comments" placeholder="Taper votre message" data-ng-model="comments" class="form-control max" required></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button data-ng-disabled="progress.active()" data-ng-click="submit(FormControllerForm)" class="btn btn-warning col-md-4 col-md-offset-4">Envoyer <span class="glyphicon glyphicon-send"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="map" class="well padreset col-md-12" data-placement="top" data-trigger="focus" data-toggle="popover" data-content="Cliquez sur un marqueur pour plus d'info"></div>
  </div>

  <div class="row">
    <div class="well col-md-12 dojoCH" >
      <img src='../../img/news.jpeg' style='width:100%;' class="img-responsive"></img>
      <h1>DOJO CHARTRES</h1>
      <p>Maecenas tristique nibh ut odio pulvinar consequat. Vivamus a massa non mi sollicitudin molestie. Duis condimentum tincidunt nisl, pharetra accumsan augue varius sed. Pellentesque vehicula cursus commodo. Quisque bibendum turpis ut porttitor tincidunt. Proin eget venenatis risus. Fusce commodo quis nunc eu finibus. Duis at tortor tellus. Phasellus pretium aliquam dui eu porta. Phasellus urna turpis, fringilla at condimentum eget, consequat vel urna. Donec quis odio dictum, porttitor magna nec, elementum nulla. Maecenas fermentum varius magna vitae vulputate. Maecenas ac malesuada urna, in aliquet nunc. Suspendisse in lectus id metus pulvinar lacinia ut ut eros.</p>
    </div>
    <div class="well col-md-12 dojoMV" >
      <img src='../../img/news.jpeg' style='width:100%;' class="img-responsive"></img>
      <h1>DOJO MAINVILLIERS</h1>
      <p>Maecenas tristique nibh ut odio pulvinar consequat. Vivamus a massa non mi sollicitudin molestie. Duis condimentum tincidunt nisl, pharetra accumsan augue varius sed. Pellentesque vehicula cursus commodo. Quisque bibendum turpis ut porttitor tincidunt. Proin eget venenatis risus. Fusce commodo quis nunc eu finibus. Duis at tortor tellus. Phasellus pretium aliquam dui eu porta. Phasellus urna turpis, fringilla at condimentum eget, consequat vel urna. Donec quis odio dictum, porttitor magna nec, elementum nulla. Maecenas fermentum varius magna vitae vulputate. Maecenas ac malesuada urna, in aliquet nunc. Suspendisse in lectus id metus pulvinar lacinia ut ut eros.</p>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function () {


        var location = new google.maps.LatLng(48.44385399999999, 1.4890120000000024);
        var loc1 = new google.maps.LatLng(48.44453069999999, 1.4623942000000625);

        var mapCanvas = document.getElementById('map');
        var mapOptions = {
            center: location,
            zoom: 13,
            panControl: false,
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);

        var markerImage = '../../img/marker.png';


        var marker = new google.maps.Marker({
            position: location,
            map: map,
            icon: markerImage,
            maxWidth: 400
        });

        var marker1 = new google.maps.Marker({
            position: loc1,
            map: map,
            icon: markerImage
        });

        var contentString =
        '<div class="info-window">' +
        '<h3>Dojo Chartres</h3>' +
        '</div>';

        var contentString1 =
        '<div class="info-window">' +
        '<h3>Dojo Mainvilliers</h3>' +
        '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 200
        });

        var infowindow1 = new google.maps.InfoWindow({
            content: contentString1,
            maxWidth: 200
        });

        google.maps.event.addListener(marker1, 'click', function() {
          $.fn.extend({
                animateCss: function (animationName) {
                    var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                    this.addClass('animated ' + animationName).one(animationEnd, function() {
                        $(this).removeClass('animated ' + animationName);
                    });
                }
            });



            $('.dojoCH').css('display','none');
              $('.dojoMV').css('display', 'block').animateCss('fadeIn');

        });

        google.maps.event.addListener(marker, 'click', function() {

          $.fn.extend({
                animateCss: function (animationName) {
                    var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                    this.addClass('animated ' + animationName).one(animationEnd, function() {
                        $(this).removeClass('animated ' + animationName);
                    });
                }
            });

              $('.dojoMV').css('display','none');
                $('.dojoCH').css('display', 'block').animateCss('fadeIn');
        });


        marker.addListener('click', function () {
          infowindow1.close(map, marker1);
            infowindow.open(map, marker);
        });

        marker1.addListener('click', function () {
          infowindow.close(map, marker);
            infowindow1.open(map, marker1);
        });

        var styles = [{"featureType": "landscape", "stylers": [{"saturation": -100}, {"lightness": 65}, {"visibility": "on"}]}, {"featureType": "poi", "stylers": [{"saturation": -100}, {"lightness": 51}, {"visibility": "simplified"}]}, {"featureType": "road.highway", "stylers": [{"saturation": -100}, {"visibility": "simplified"}]}, {"featureType": "road.arterial", "stylers": [{"saturation": -100}, {"lightness": 30}, {"visibility": "on"}]}, {"featureType": "road.local", "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]}, {"featureType": "transit", "stylers": [{"saturation": -100}, {"visibility": "simplified"}]}, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {"featureType": "water", "elementType": "labels", "stylers": [{"visibility": "on"}, {"lightness": -25}, {"saturation": -100}]}, {"featureType": "water", "elementType": "geometry", "stylers": [{"hue": "#ffff00"}, {"lightness": -25}, {"saturation": -97}]}];

        map.set('styles', styles);





});

</script>
<script>
$('#map').click(function(){
  $(this).popover('hide');
});
$('.max').css('height', '100px');
$('#attributeForm').bootstrapValidator();
$('.btnContact').animateCss('flipInX');
$('.alert-success').css('display','none');
$('.control-label').css('display','none');
$('.dojoCH').css('display','none');
$('.dojoMV').css('display','none');
$('#map').popover('show');
$('.popover').find('div:first').remove();
</script>
