<div ng-controller="inscriptionController as inscriptionCtrl" class="container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">Rentrée 2016</h2>
        </div>
    </div><!-- end row -->

    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Reprise des cours à partir du lundi 12 septembre 2016</h3>
        </div>
    </div><!-- end row -->

    <br />

    <div class="container center-block">
        <div class="table-responsive">
            <table class="table table-bordered">
                <caption><h4 class="text-center">Permanence pour renseignements et inscriptions</h4></caption>
                <thead>
                <tr>
                    <th class="col1"></th>
                    <th class="col2">Dojo de Mainvilliers</th>
                    <th class="col3">Dojo de la Madeleine</th>
                    <th class="col4">Fontaine-la-Guyon</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col1"></td>
                    <td colspan = 3><strong>Horaires</strong></td>
                </tr>
                <tr>
                    <td class="col1">Lundi 05/09</td>
                    <td class="col2"></td>
                    <td class="col3">18h30 à 20h30</td>
                    <td class="col4"></td>
                </tr>
                <tr>
                    <td class="col1">Mercredi 07/09</td>
                    <td class="col2">16h00 à 18h00</td>
                    <td class="col3">15h00 à 16h30</td>
                    <td class="col4"></td>
                </tr>
                <tr>
                    <td class="col1">Jeudi 08/09</td>
                    <td class="col2"></td>
                    <td class="col3"></td>
                    <td class="col4">16h45 à 18h00</td>
                </tr>
                </tbody>
            </table><!-- end table -->
        </div><br /><br/ ><!-- end table responsive -->
    </div><!-- end container center block -->


    <div class="row">
        <div class="col-xs-4 col-xs-offset-1 thumbnail inscr">

            <p class="lead">Pour information , les adultes peuvent s’inscrire dès maintenant pendant les cours auprès de Magalie sur le dojo de Mainvilliers.</p><br />

            <p><a href="Documents/Tarif.pdf" target ="_blank">Cliquer ici pour consulter le tarif 2016/2017.</a></p><br />

            <p>Ces inscriptions courant semaine prochaine vous permettront de monter sur le tatamis dès les premiers cours.</p>

        </div><!-- end inscription left -->


        <div class="col-xs-5 col-xs-offset-1 thumbnail inscr">
            <p>Afin de préparer la rentrée prochaine, voici quelques documents à remplir pour anticiper :</p><br /><br />

            <p><a href="Documents/Certificat_medical.pdf" target="_blank">Certificat médical</a></p>
            <p><a href="Documents/notice_demande_de_renouvellement_licence_ffjda_septembre2015.pdf" target="_blank">Notice demande renouvellement licence</a></p>
            <p><a href="Documents/Autorisation_permanente.pdf" target="_blank">Autorisation permanente</a></p>
            <p><a href="Documents/Autorisation_photo.pdf" target="_blank">Autorisation de photo/vidéo</a></p>
            <p><a href="Documents/Autorisation_test_anti_dopage.pdf" target="_blank"></a></p><br /><br />

            <p>Etant donné qu’il nous faut un délai pour valider les inscriptions auprès de FFJDA, vous ne pourrez monter sur le Tatamis que 7 jours après la remise du dossier complet.</p>
        </div><!-- end inscription right -->
    </div><!-- end row -->

    <div class="row">
        <div class="footer">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            <p>&copy; 2016, Dojo Beauceron, tous droits réservés</p>
            </div>
            <div class="col-xs-4">
            <a href="#">Mentions légales</a>
            </div>
        </div>
    </div>

</div>